.CreatePost {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background: rgb(255, 250, 200);
}

.Title {
  width: 60%;
  height: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0.75rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Author {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Author > img {
  width: 2.5rem;
  margin-left: 0.75rem;
  margin-right: 0.75rem;

  border-radius: 50%;
  background: white;
}

.Author > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.Textbox {
  width: 90%;
  height: 12rem;
  outline: none;
  resize: vertical;

  margin: 1rem;
  padding: 0.5rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

  border: 1px solid rgb(50, 50, 50);
  border-radius: 10px;
}

.CreatePostButton {
  width: 45%;
  height: 2.25rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  margin-bottom: 1rem;

  background: rgb(92, 92, 92);
  border: 0px;
  border-radius: 5px;
}

.CreatePostButton:hover {
  cursor: pointer;
  background: rgb(73, 73, 73);
}

.CreatePostButton:active {
  cursor: pointer;
  background: rgb(63, 63, 63);
}

@media (max-width: 768px) {
  .CreatePost {
    width: 22rem;
  }

  .CreatePostButton {
    width: 50%;
  }
}
