.EditDetails {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;

  background: rgb(255, 250, 200);
}

.EditDetailsForm {
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 0.5rem;
}

.Section {
  display: flex;
  align-items: center;
  justify-content: left;
}

.Section > label {
  width: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.Section > input {
  width: 18rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  border: 1px solid rgb(92, 92, 92);
  border-radius: 10px;
  padding: 0.5rem;
  outline: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.Section > textarea {
  width: 18rem;
  height: 5rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  resize: none;

  border: 1px solid rgb(92, 92, 92);
  border-radius: 10px;
  padding: 0.5rem;
  outline: none;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.EditDetailsForm > button {
  width: 45%;
  height: 2.25rem;

  margin: 0.5rem;
  margin-top: 2rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background: rgb(92, 92, 92);
  border: 0px;
  border-radius: 5px;
}

.EditDetailsForm > button:hover {
  cursor: pointer;
  background: rgb(73, 73, 73);
}

.EditDetailsForm > button:active {
  cursor: pointer;
  background: rgb(63, 63, 63);
}

@media (max-width: 768px) {
  .EditDetails {
    width: 20rem;
  }

  .Section > input {
    width: 8rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .Section > textarea {
    width: 8rem;
    height: 8rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    resize: none;

    border: 1px solid rgb(92, 92, 92);
    border-radius: 10px;
    padding: 0.5rem;
    outline: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
