.LoginPage {
  width: 100vw;
  height: 100vh;

  background: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignIn {
  height: 74.275%;
  width: 100%;

  background: rgb(240, 242, 245);

  display: flex;
  align-items: center;
  justify-content: center;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  position: relative;
  left: -2.75rem;
  top: -5.5rem;
}

.Description > img {
  width: 30rem;

  position: relative;
  left: -2.75rem;
  top: 0.25rem;

  margin-bottom: 1rem;
}

.Description > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  width: 32rem;
  line-height: 36px;

  position: relative;
  left: 0.1rem;
  top: -0.1rem;
}

.SignInForm {
  width: 25rem;
  height: 22rem;

  position: relative;
  left: 1.4rem;
  top: -3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  background: white;
  box-shadow: 0px 2px 8px rgb(200, 200, 200);
}

.SignInForm > input {
  width: 85%;
  height: 1.75rem;
  padding: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

  outline: none;

  margin-top: 1rem;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.SignInForm > input:focus {
  border: 1px solid rgb(230, 197, 51);
  box-shadow: 0px 0px 3px rgb(230, 197, 51);
}

.LoginScreenButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.LoginScreenButton {
  width: 43%;
  height: 3rem;

  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;

  border: 0px;
  border-radius: 5px;
}

.LoginScreenButton:hover {
  cursor: pointer;
}

.LoginScreenButton:active {
  cursor: pointer;
}

.Login {
  background: rgb(92, 92, 92);
}

.Login:hover {
  background: rgb(73, 73, 73);
}

.Login:active {
  background: rgb(63, 63, 63);
}

.Delete {
  background: rgb(230, 48, 48);
}

.Delete:hover {
  background: rgb(197, 38, 38);
}

.Delete:active {
  background: rgb(177, 32, 32);
}

.Create {
  font-size: 16px;
  background: rgb(240, 202, 36);
}

.Create:hover {
  background: rgb(218, 183, 31);
}

.Create:active {
  background: rgb(185, 156, 26);
}

.Guest {
  font-size: 16px;
  background: rgb(92, 92, 92);
}

.Guest:hover {
  background: rgb(73, 73, 73);
}

.Guest:active {
  background: rgb(63, 63, 63);
}

.ForgotPasswordButton {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(24, 119, 242);
}

.ForgotPasswordButton:hover {
  cursor: pointer;
}

.Line {
  border-bottom: 1px solid rgb(100, 100, 100);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.LoginPageBottom {
  height: 25.725%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Fineprint {
  text-align: left;
  width: 52%;
  position: relative;
  top: -5rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: rgb(100, 100, 100);
}

@media (max-width: 768px) {
  .SignIn {
    flex-direction: column;
  }

  .Description {
    left: 1rem;
    top: 1rem;
  }

  .Description > img {
    width: 25rem;

    position: relative;
    left: -1rem;
    top: 0.25rem;

    margin-bottom: 1rem;
  }

  .Description > h1 {
    font-size: 24px;
    width: 20rem;
    line-height: 24px;

    left: 2.25rem;
    top: -0.1rem;
  }

  .SignInForm {
    width: 22rem;
    height: 22rem;

    position: relative;
    left: 0rem;
    top: 2rem;
  }

  .Fineprint {
    text-align: center;
    width: 70%;
    top: -3rem;
    line-height: 18px;
  }
}
