.Post {
  width: 42rem;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  border: 1px solid rgb(120, 120, 120);
  border-radius: 15px;

  background: rgb(255, 250, 200);
  margin: 0.5rem;
}

.Author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Author > img {
  width: 3em;
  margin: 0.5rem;

  background: white;
  border-radius: 50%;
}

.Author > img {
  cursor: pointer;
}

.Name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.25rem;
}

.User:hover {
  cursor: pointer;
}

.Date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.PostContent {
  width: 95%;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  white-space: pre-line;
}

.PostLikes {
  width: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;

  position: relative;
  left: -15rem;
}

.PostLikes > img {
  width: 0.9rem;
}

.PostLikes > h2 {
  width: 10rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(100, 100, 100);

  text-align: left;
  margin-left: 0.25rem;
}

.PostInteractions {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}

.PostInteractions > h1 {
  width: 100%;
  min-width: 33%;
  max-width: 80%;
  height: 1.75rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

.PostInteractions > h1:hover {
  cursor: pointer;
  background: rgb(216, 211, 160);
}
