.Post {
  width: 42rem;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  border: 1px solid rgb(120, 120, 120);
  border-radius: 15px;

  background: rgb(255, 250, 200);
  margin: 0.5rem;
  padding-bottom: 0.5rem;
}

.DeletePost {
  width: 1rem;
  height: 1rem;
  background: rgb(255, 57, 57);
  border: 1px solid rgb(50, 50, 50);
  border-radius: 50%;

  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.DeletePost:hover {
  cursor: pointer;
}

.Author {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Author > img {
  width: 3em;
  margin: 0.5rem;

  background: white;
  border-radius: 50%;
}

.Author > img {
  cursor: pointer;
}

.Name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.25rem;
}

.User:hover {
  cursor: pointer;
}

.Date {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.PostContent {
  width: 95%;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 18px;

  white-space: pre-line;
}

.PostLikes {
  width: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1rem;

  position: relative;
  left: -15rem;
}

.PostLikes > img {
  width: 0.9rem;
}

.PostLikes > h2 {
  width: 10rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: rgb(100, 100, 100);

  text-align: left;
  margin-left: 0.25rem;
}

.PostInteractions {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostInteractions > h1 {
  width: 100%;
  min-width: 33%;
  max-width: 80%;
  height: 1.75rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
}

.PostInteractions > h1:hover {
  cursor: pointer;
  background: rgb(216, 211, 160);
}

.PostComments {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.WriteAComment {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.WriteAComment > img {
  width: 2rem;
  background: white;
  border-radius: 50%;
}

.WriteAComment > input {
  width: 82%;
  height: 1.75rem;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  background: rgb(250, 250, 250);

  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.ListOfComments {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .Post {
    width: 80%;
  }

  .PostContent {
    width: 92%;
  }

  .PostLikes {
    left: -3.85rem;
  }

  .WriteAComment {
    width: 95%;
  }
}
