.HomePage {
  min-height: 101vh;
  position: relative;
  overflow-x: hidden;

  background: rgb(255, 250, 230);
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 5rem;
}

.Cluck {
  width: 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

  border: 1px solid rgb(120, 120, 120);
  border-radius: 15px;

  background: rgb(255, 250, 200);
  margin: 0.5rem;
}

.Cluck:hover {
  cursor: pointer;
}

.MainCluck {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainCluck > img {
  width: 3em;
  margin: 0.5rem;

  background: white;
  border-radius: 50%;
}

.MainCluck > input {
  width: 100%;
  height: 2rem;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  background: rgb(250, 250, 250);

  margin: 0.5rem;
}

.MainCluck > input:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
}

.EmptyNewsFeed {
  height: 3rem;
  width: 42rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 1px solid rgb(120, 120, 120);
  border-radius: 15px;

  background: rgb(255, 250, 200);
  margin: 0.5rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .Cluck {
    width: 80%;
  }

  .EmptyNewsFeed {
    width: 80%;
    height: 4rem;
  }
}
