.SearchBar {
  width: 35%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

.SearchBar > img {
  width: 1.25rem;
  position: absolute;
  left: 0.5rem;
}

.SearchBar > form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SearchBar > form > input {
  width: 100%;
  height: 2rem;
  border: 1px solid rgb(120, 120, 120);
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  outline: none;
  background: rgb(250, 250, 250);
}

.SearchBar > input:hover {
  background: rgb(255, 255, 255);
}

.SearchBar > input:focus {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(230, 48, 48);
  box-shadow: 0px 0px 3px rgb(230, 48, 48);
}

@media (max-width: 768px) {
  .SearchBar {
    width: 61%;
  }
}
