.LoginPage {
  width: 100vw;
  height: 100vh;

  background: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignIn {
  height: 74.275%;
  width: 100%;

  background: rgb(240, 242, 245);

  display: flex;
  align-items: center;
  justify-content: center;
}

.Description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  position: relative;
  left: -2.75rem;
  top: -5.5rem;
}

.Description > img {
  width: 18.75rem;

  position: relative;
  left: -0.2rem;
  top: -0.4rem;

  margin-bottom: 1rem;
}

.Description > h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
  width: 32rem;
  line-height: 32px;

  position: relative;
  left: 0.1rem;
  top: -0.1rem;
}

.SignInForm {
  width: 25rem;
  height: 22rem;

  position: relative;
  left: 1.4rem;
  top: -3.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  background: white;
  box-shadow: 0px 2px 8px rgb(200, 200, 200);
}

.SignInForm > input {
  width: 85%;
  height: 1.75rem;
  padding: 10px;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;

  outline: none;

  margin-top: 1rem;

  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.SignInForm > input:focus {
  border: 1px solid rgb(24, 119, 242);
  box-shadow: 0px 0px 3px rgb(24, 119, 242);
}

.LoginButton {
  width: 90%;
  height: 3rem;

  margin-top: 1rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;

  background: rgb(24, 119, 242);
  border: 0px;
  border-radius: 5px;
}

.LoginButton:hover {
  cursor: pointer;
  background: rgb(20, 110, 235);
}

.LoginButton:active {
  cursor: pointer;
  background: rgb(35, 55, 115);
}

.ForgotPasswordButton {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(24, 119, 242);
}

.Line {
  border-bottom: 1px solid rgb(218, 221, 225);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.LoginButtons {
  display: flex;
}

.SignUpButton {
  width: 50%;
  height: 3rem;

  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background: rgb(66, 183, 42);
  border: 0px;
  border-radius: 5px;
}

.SignUpButton:hover {
  cursor: pointer;
  background: rgb(55, 175, 30);
}

.SignUpButton:active {
  cursor: pointer;
  background: rgb(50, 145, 30);
}

.GuestLoginButton {
  background: rgb(24, 119, 242);
}

.GuestLoginButton:hover {
  background: rgb(20, 110, 235);
}

.GuestLoginButton:active {
  background: rgb(35, 55, 115);
}

.LoginPageBottom {
  height: 25.725%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Fineprint {
  position: relative;
  left: -24rem;
  top: -5rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(100, 100, 100);
}

.SignUpForm {
  width: 26rem;

  display: flex;
  flex-direction: column;
}

.SignUpForm > form > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(96, 103, 112);

  margin-left: 1rem;
}

.SignUpFormTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(28, 30, 33);

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.SignUpFormDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(96, 103, 135);

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.SignUpFormNames {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
}

.SignUpFormNames > input {
  width: 45%;
  height: 1.5rem;

  margin-left: 0.25rem;
  margin-right: 0.25rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(245, 246, 247);
  outline: none;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpCredentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.SignUpCredentials > input {
  width: 93.5%;
  height: 1.5rem;

  margin-bottom: 0.5rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(245, 246, 247);
  outline: none;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpBirthday {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}

.SignUpBirthday > select {
  width: 28.275%;
  height: 2.45rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(255, 255, 255);
  outline: none;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpGender {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.SignUpGender > label {
  height: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpGender > label > input {
  margin-left: 2.5rem;
}

.SignUpTerms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.SignUpTerms > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(96, 103, 112);
  padding-bottom: 0.75rem;
}

.SignUpFormButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -0.5rem;
  margin-bottom: 1.75rem;
}

.SignUpFormButton {
  width: 45%;
  height: 2.25rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background: rgb(0, 164, 0);
  border: 0px;
  border-radius: 5px;
}

.SignUpFormButton:hover {
  cursor: pointer;
  background: rgb(112, 167, 99);
}

.SignUpFormButton:active {
  cursor: pointer;
  background: rgb(112, 167, 99);
}
