.SignUpForm {
  width: 26rem;

  display: flex;
  flex-direction: column;
}

.SignUpForm > form > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(96, 103, 112);

  margin-left: 1rem;
}

.SignUpFormTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: rgb(28, 30, 33);

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.SignUpFormDescription {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(96, 103, 135);

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.SignUpFormNames {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
}

.SignUpFormNames > input {
  width: 45%;
  height: 1.5rem;

  margin-left: 0.25rem;
  margin-right: 0.25rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(245, 246, 247);
  outline: none;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpCredentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.SignUpCredentials > input {
  width: 93.5%;
  height: 1.5rem;

  margin-bottom: 0.5rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(245, 246, 247);
  outline: none;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpBirthday {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}

.SignUpBirthday > select {
  width: 28.275%;
  height: 2.45rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(255, 255, 255);
  outline: none;
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpGender {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.SignUpGender > label {
  height: 1.4rem;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(204, 208, 213);
  border-radius: 5px;
}

.SignUpGender > label > input {
  margin-left: 2.5rem;
}

.SignUpTerms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

  margin: 1rem;
}

.SignUpTerms > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: rgb(96, 103, 112);
  padding-bottom: 0.75rem;
}

.SignUpFormButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -0.5rem;
  margin-bottom: 1.75rem;
}

.SignUpFormButton {
  width: 45%;
  height: 2.25rem;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background: rgb(240, 202, 36);
  border: 0px;
  border-radius: 5px;
}

.SignUpFormButton:hover {
  cursor: pointer;
  background: rgb(218, 183, 31);
}

.SignUpFormButton:active {
  cursor: pointer;
  background: rgb(185, 156, 26);
}

@media (max-width: 768px) {
  .SignUpForm {
    width: 20rem;
  }

  .SignUpFormNames {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .SignUpFormNames > input {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
  }

  .SignUpBirthday > select {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.1rem;
    margin-bottom: 0.4rem;
  }

  .SignUpGender > label > input {
    margin-left: 0.7rem;
  }
}
