.Header {
  position: fixed;
  background: rgb(255, 250, 200);
  width: 100vw;
  height: 4rem;

  border-bottom: 1px solid rgb(120, 120, 120);

  display: flex;
  align-items: center;

  z-index: 1;
}

.Update {
  display: flex;
  align-items: center;

  position: absolute;
  right: 0rem;

  margin: 0.5rem;
}

.Profile {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  border-radius: 50%;

  margin: 1.5rem;
}

.Profile > img {
  width: 100%;
}

.Profile:hover {
  cursor: pointer;
}

.Dropdown {
  width: 15rem;

  position: absolute;
  right: 3rem;
  top: 4rem;

  border: 1px solid rgb(50, 50, 50);
  background: white;

  border-radius: 10px;
}

.DropdownOption {
  height: 2rem;

  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: 0.75rem;
  padding-right: 0.75rem;

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border-radius: 15rem;
}

.DropdownOption:hover {
  cursor: pointer;
  background: rgb(212, 212, 212);
}

.Notifications {
  width: 1.1rem;
  height: 1.1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background: red;
  border-radius: 50%;
}

.Notifications > h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.AtDropdown {
  position: relative;
  left: 3.5rem;
}

.AtProfile {
  position: absolute;
  bottom: -0.25rem;
  right: -0.25rem;
}

@media (max-width: 768px) {
  .Update {
    right: -1rem;
    margin: 0rem;
  }

  .Dropdown {
    right: 2rem;
    top: 4rem;
  }
}
